.animacion{
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  
}
*{
  background-color: #eee34a;
}

@keyframes slidein {
  0% {
    margin-left: 75%;
    transform: rotate(0deg); 
  }
  50%{
    margin-left: 0%; 
    transform: rotate(180deg); }
  100%{
    margin-left: 75%;
    transform: rotate(360deg);
  }
}